
lexical-entailments/results/MegaVeridicality/rscripts/.Rhistory
basic-properties/results/MegaVeridicality/rscripts/.Rhistory
communicatives/results/MegaVeridicality/rscripts/.Rhistory
basic-properties/results/MegaVeridicality/rscripts/.Rhistory
communicatives/results/Experiment1/rscripts/.Rhistory
